.container {
  min-width: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
}
.active {
  background-color: white;
  color: black;
  text-align: center;
}
