<div class="contact">
  <div class="imageContainer">
    <!-- Adjust the path to your image as necessary -->
    <img src="assets/dress.jpg" alt="dress picture" class="image" />
  </div>
  <div class="formContainer">
    <form class="form">
      <input type="text" placeholder="Name and Surname" />
      <input type="email" placeholder="Email Address" />
      <input type="text" placeholder="Phone Number (Optional)" />
      <textarea cols="30" rows="10" placeholder="Message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</div>
